/* task-3 */
.js-gallery {
  padding: 0;
}
.js-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  padding-bottom: 50px;
}
.js-img {
  width: 50%;
  height: 50%;
}

/* task-6 */
#validation-input {
  border: 3px solid #bdbdbd;
}
#validation-input.valid {
  border-color: #4caf50;
}
#validation-input.invalid {
  border-color: #f44336;
}
